<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750079412232-ggjho30d6rsofg37j0inu57kcbgbc1la.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750079412232-ggjho30d6rsofg37j0inu57kcbgbc1la</string>
	<key>API_KEY</key>
	<string>AIzaSyC0F1pOxb4sIdG7r2zMAED7VJV5w3rF-zY</string>
	<key>GCM_SENDER_ID</key>
	<string>750079412232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>health-app-72d06</string>
	<key>STORAGE_BUCKET</key>
	<string>health-app-72d06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750079412232:ios:d3fd9e6b97c6c83b1be9bd</string>
</dict>
</plist>